[user]
	email = e.urbach@gmail.com
	name = Eduard Urbach
	signingkey = C874F672B1AF20C0
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[gpg]
	program = gpg
[commit]
	gpgsign = true
