[user]
	email = e.urbach@gmail.com
	name = Eduard Urbach
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[url "git@github.com:"]
	insteadOf = https://github.com/
