[user]
	email = e.urbach@gmail.com
	name = Eduard Urbach
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
