"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    playAudio:
      enabled: false
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "atom-typescript":
    preferredQuoteCharacter: "'"
  core:
    customFileTypes:
      "source.pug": [
        "pixy"
      ]
      "source.stylus": [
        "scarlet"
      ]
    disabledPackages: [
      "line-ending-selector"
      "wrap-guide"
      "atom-jade"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/home/eduard/projects"
    telemetryConsent: "limited"
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "ee3b20db-701f-43a3-ab3d-ea114b5b9235"
  "go-plus":
    panel:
      currentHeight: "5.852674066599395vh"
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    tabLength: 4
".pug.source":
  editor:
    tabLength: 4
  whitespace:
    removeTrailingWhitespace: false
".source.ts":
  editor:
    tabLength: 4
".source.tsx":
  editor:
    tabLength: 4
customFileTypes:
  "source.pug": [
    "pixy"
  ]
  "source.stylus": [
    "scarlet"
  ]
editor:
  tabLength: 4
  tabType: "hard"
"exception-reporting":
  userId: "928f383f-8d64-2871-6d74-caf824ac01bf"
"linter-eslint":
  disableWhenNoEslintrcFileInPath: true
  globalNodePath: "/home/eduard/.nvm/versions/node/v6.5.0"
  useGlobalEslint: true
pigments:
  notifyReloads: false
"project-plus":
  projectHome: " /home/eduard/projects"
"split-diff":
  diffWords: true
  ignoreWhitespace: true
  leftEditorColor: "red"
  rightEditorColor: "green"
  syncHorizontalScroll: true
"tree-view":
  hideVcsIgnoredFiles: true
welcome:
  showOnStartup: false
whitespace:
  ensureSingleTrailingNewline: false
  ignoreWhitespaceOnCurrentLine: false
  removeTrailingWhitespace: true
